mixin docsnav(docssection)
	.visible-xs: ul.nav-toggle
		li
			a(href='/docs').nav-heading Docs
		if (docssection.value == 'classapi' )
			li(class=docssection.version == '0.3.x' ? 'active' : null): a(href='/docs/api/current/class').nav-heading Current
			li(class=docssection.version == '0.4.x' ? 'active' : null): a(href='/docs/api/incoming/class').nav-heading Incoming
			li(class=docssection.version == '0.2.x' ? 'active' : null): a(href='/docs/api/0.2.x/class').nav-heading 0.2.x	
			if docssection.version == '0.4.x'
				li
					a(href='/docs/api/current/endpoint').nav-heading Api
		if (docssection.value == 'endpointapi' )
			li(class=docssection.version == '0.4.x' ? 'active' : null): a(href='/docs/api/current/endpoint').nav-heading 0.4.x
			li
				a(href='/docs/api/current/class').nav-heading Reference
		
	.visible-xs.lowMenu
		.col-xs-2
			span.glyphicon.glyphicon-menu-hamburger.icon
		.col-xs-10
			ul.sidebar-nav
				if docssection.version == '0.4.x' 
					li.nav-label: a(href='#changelog') 0.3.x to 0.4.x Changes
				if docssection.version == '0.3.x' 
					li.nav-label: a(href='#changelog') 0.2.x to 0.3.x Changes
				each val, ref in apidocs
					each item in val.list
						unless item.name
							li.nav-label: a(href='#main-#{item.keys}') !{item.menuHeader}
						unless item.main
							li: a(href='##{item.keys}-#{item.name}') .!{item.name}

	
	nav.docs-sidebar.hidden-xs.stickyMenu
		ul.sidebar-nav
			li
				a(href='/docs').nav-heading Docs Home
			if (docssection.value == 'classapi' )
				li(class=docssection.version == '0.3.x' ? 'active' : null): a(href='/docs/api/current/class').nav-heading Current
				li(class=docssection.version == '0.4.x' ? 'active' : null): a(href='/docs/api/incoming/class').nav-heading Incoming
				li(class=docssection.version == '0.2.x' ? 'active' : null): a(href='/docs/api/0.2.x/class').nav-heading 0.2.x
				if docssection.version == '0.4.x'	
					li
						a(href='/docs/api/current/endpoint').nav-heading Endpoint Api
				
			if (docssection.value == 'endpointapi' )
				li(class=docssection.version == '0.4.x' ? 'active' : null): a(href='/docs/api/current/endpoint').nav-heading 0.4.x
				li
					a(href='/docs/api/current/class').nav-heading Class Reference
			

		hr  
		
		ul.sidebar-nav
			if docssection.version == '0.4.x' 
				li.nav-label: a(href='#changelog') 0.3.x to 0.4.x Changes
			if docssection.version == '0.3.x' 
				li.nav-label: a(href='#changelog') 0.2.x to 0.3.x Changes
			each val, ref in apidocs
				each item in val.list
					unless item.name
						li.nav-label: a(href='#main-#{item.keys}') !{item.menuHeader}
					unless item.main
						li: a(href='##{item.keys}-#{item.name}') .!{item.name}
		
